* ,*::before, *::after{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

:root{
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding:0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct{
  --hue: var(--hue-correct);
}

body.wrong{
  --hue: var(--hue-wrong);
}

.container{
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
}
h1{
  text-align: center;
}

.timer-count{
  margin-bottom: 20px;
}

.btn_grid{
  display:grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}


button {
  background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  
}

button:hover{
  border-color:black;
  border-width: 4px;
}

.start_save {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hide{
  display: none;
}

.start_btn, .save_btn, .restart_btn{
  font-weight:bold;
  padding: 10px 20px;
  font-size: 2em;
}

.score_card{
  color:black;
  background: linear-gradient(0deg, rgb(66, 99, 129) 0%, rgba(237,245,249,1) 63%);
  text-align: center;
  border-radius: 120px;
}




